---
import './header.scss';
---

<header class="header" id="header">
    <nav class="nav container">
        <a href="/" class="nav__logo">
            Nebula<span>build</span><p>v0.0.1</p>
        </a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="docs" class="nav__link">Docs</a>
                </li>
            </ul>
            <div class="nav__close" id="nav-close">
                <!-- <i class="fa-solid fa-circle-xmark"></i> -->
                <i class="ri-close-fill"></i>
            </div>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <!-- <i class="fa-solid fa-bars"></i> -->
            <i class="ri-menu-4-fill"></i>
        </div>
    </nav>
</header>