html {
  scroll-behavior: smooth;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::before,::after
{
    box-sizing: border-box;
}
body
{
    font-family: 'Lato' , sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
    background-color: var(--black);
}
a
{
    text-decoration: none;
}
ul
{
    list-style: none;
}