---
import './home.scss';
---

<section>
    <div class="container">
        <div class="row full-screen align-items-center">
            <div class="left">
                 <img src="./images/logo-full.png" alt="logofull" class="home__img">
                <p class="line__text"><span>Nebulabuild</span> is your ultimate web development assistant, designed to streamline your workflow with powerful tools, pre-built solutions, and flexible components. Nebulabuild helps you build faster, smarter, and with greater efficiency.</p>
               
     
            </div>
            <div class="right">
                <div class="form">
                    <div class="text-center">
                        <div class="right__description">
                            <p>✅ Pre-built Scripts – Speed up your development process with ready-to-use, optimized scripts for common functionalities. No need to start from scratch—just plug and play!</p>
                            <p>🧩 Modular Components – Easily integrate and customize UI components, layouts, and interactive elements. Build dynamic web applications effortlessly.</p>
                            <p>⚡ Simple & Efficient – Designed for hassle-free implementation with clean code, intuitive structure, and seamless compatibility with modern frameworks.</p>
                            <p>🌐 Versatile & Scalable – Perfect for personal projects, startups, and enterprise-level applications. Nebulabuild grows with you as your needs evolve.</p>
                            <p>📖 Comprehensive Documentation – Get started quickly with step-by-step guides, code examples, and best practices to maximize efficiency.</p>
                        </div>
                        <!-- <h3>Get Started</h3> -->
                        <!-- <h6><span>Download </span> <span>NPM</span></h6> -->
                        <!-- <input type="checkbox" class="checkbox" id="reg-log"> -->
                        <a href="docs"><button class="btn">Get Started</button></a>
                        <div class="social-media">
                            <a href="https://github.com/papchenko/nebulabuild" target="_blank"> <i class="fa-brands fa-github"></i></a>
                        </div>
                        <!-- <label for="reg-log"></label> -->
                        <!-- <div class="card-3d-wrap">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                       <a href="https://github.com/papchenko/nebulasite/raw/refs/heads/main/download/nebula.build.zip" target="_blank">
                                        <i class="fa-solid fa-download"></i>
                                        <h4 class="heading">Download</h4>
                                       </a>
                                       <div class="install">Unzip folder and use!</div>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="center-wrap">
                                        <h4 class="heading">npm i nebulabuild</h4>
                                        <button class="btn" id="copyButton">Copy<span class="tooltip" id="tooltip">Copied!</span></button>
                                        <div class="install">
                                            After installing the package! <br>
                                            Find the <span>nebulabuild</span> folder in the <span>node_modules</span> folder, copy it to a new project, go to this new project and install all the <p>npm i</p> dependencies in it and run <p>npm run dev</p>
                                            In the root of the project, create a folder <span>public/pictures</span> to put images etc.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>