---
import './home.scss';
---

<section>
    <div class="container">
        <div class="row full-screen align-items-center">
            <div class="left">
                 <img src="./images/logo-full.png" alt="logofull" class="home__img">
                <p class="line__text">Nebula.build is your ultimate web development assistant, offering pre-built scripts and modular components to enhance your workflow.</p>
                <div class="line__description">
                    <p>✅ Pre-built Scripts – Speed up your development with ready-to-use.</p>
                    <p>🧩 Modular Components – Easily integrate and customize components.</p>
                    <p>⚡ Simple & Efficient – Designed for hassle-free implementation.</p>
                </div>
                <div class="social-media">
                    <a href="https://github.com/papchenko/nebulabuild" target="_blank"> <i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="right">
                <div class="form">
                    <div class="text-center">
                        <h3>Get Started</h3>
                        <h6><span>Download </span> <span>NPM</span></h6>
                        <input type="checkbox" class="checkbox" id="reg-log">
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                       <a href="./download/nebula.build.zip" target="_blank">
                                        <i class="fa-solid fa-download"></i>
                                        <h4 class="heading">Download</h4>
                                       </a>
                                       <div class="install">Unzip folder and use!</div>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="center-wrap">
                                        <h4 class="heading">npm i nebulabuild</h4>
                                        <button class="btn" id="copyButton">Copy<span class="tooltip" id="tooltip">Copied!</span></button>
                                        <div class="install">
                                            After installing the package! <br>
                                            Find the <span>nebulabuild</span> folder in the <span>node_modules</span> folder, copy it to a new project, go to this new project and install all the <p>npm i</p> dependencies in it and run <p>npm run dev</p>
                                            In the root of the project, create a folder <span>public/pictures</span> to put images etc.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>