.left, .right {
    // flex: 0 0 50%;
    // max-width: 50%;
    // padding: 25px 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}
.home__img {
   width: 300px;
   height: 300px; 
}
.left {
    .line {
        &__text {
            font-size: 2.4rem;
            text-align: center;
            color: var(--whiteSmoke);
            span {
                color: var(--mainColor);
            }
        }
       
    }
}

.btn {
    height: 48px;
    padding: 0 30px;
    background-color: var(--mainColor);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    letter-spacing: 1px;
    border: none;
    box-shadow: 0 8px 24px 0 rgba(228, 10, 57, 0.2);
    transition: all 200ms linear;
    
    &:hover {
        background-color: var(--white);
        color: var(--mainColor);
        box-shadow: 0 8px 24px 0 rgba(138, 140, 146, 0.2);
    }
}
.social-media {
    margin-top: 2rem;
    i {
        color: var(--white);
        font-size: 2rem;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            color: var(--mainColor);
            transform: scale(1.1);
        }
    }
}

.right {
    &__description {
        margin: 1.5rem 0;
        p {
            color: var(--whiteSmoke);
            font-size: 1.2rem;
            opacity: 0.7;
            margin-bottom: 0.6rem
        }
    }
}
.link{
    color: var(--whiteSmoke);
    margin-top: 20px;
    display: block;
}
.link:hover{
    color: var(--mainColor);
}